source https://api.nuget.org/v3/index.json
storage: none

framework: auto-detect

nuget FSharp.Core ~> 4
nuget Argu ~> 5
nuget nunit ~> 3
nuget NUnit3TestAdapter ~> 3
nuget Microsoft.NET.Test.Sdk ~> 15
nuget FSharp.Data ~> 3
nuget FsLexYacc ~> 9
